.event-border {
  border: 1px solid #B6B6B6;
  border-radius: 0.4rem;
}

.event {
  margin-bottom: 8px;
  box-shadow: 0.1px 0.1px 0.1px 0px rgba(0,0,0,0.75);
}

ion-badge {
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  --padding-bottom: 0.5rem;
  --padding-end: 0.5rem;
  --padding-start: 0.5rem;
  --padding-top: 0.5rem;
}