<ng-container *ngIf="{
  isLoadingEvents: isLoadingEvents$ | async,
  searchEvents: searchEvents$ | async,
  popularNowEvents: popularNowEvents$ | async,
  recommendedEvents: recommendedEvents$ | async,
  isSignIn: isSignIn$ | async
} as $">
  <app-header></app-header>
  <ion-content>
    <ion-item lines="none" class="search ion-margin">
      <ion-input
        type="text"
        placeholder="Поиск..." 
        #searchInput 
        (input)="onSearchChange(searchInput.value.toString())"
      ></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
    <ng-container *ngIf="searchInput.value">
      <ng-container *ngIf="$.searchEvents.length !== 0">
        <app-small-event-list [events]="$.searchEvents"></app-small-event-list>
      </ng-container>
      <ng-container *ngIf="$.searchEvents.length === 0 && !$.isLoadingEvents">
        <ion-text class="ion-text-center">
          <p>По вашему запросу ничего не найдено</p>
        </ion-text>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!searchInput.value">
      <app-badge-list 
        title="Популярное сейчас:" 
        [badgeList]="$.popularNowEvents">
      </app-badge-list>
      <ng-container *ngIf="$.isSignIn">
        <app-badge-list 
          title="Рекомендовано вам:" 
          [badgeList]="$.recommendedEvents">
        </app-badge-list>
      </ng-container>
    </ng-container>
  </ion-content>
</ng-container>
