<app-header></app-header>
<ion-content>
  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <img src="assets/icons/avatar.svg">
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-text>
            {{ (user$ | async).username }}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button
              class="bold"
              size="large"
              fill="clear"
              color="secondary"
              (click)="onSignOut()"
            >
              Выйти из аккаунта
            </ion-button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>