<ion-grid *ngIf="{
  events: events$ | async,
  isSignIn: isSignIn$ | async
} as $">
  <ion-row 
    *ngFor="let event of $.events" 
    class="event event-border"
  >
    <ion-col 
      [routerLink]="event.eventId"
      size="3" 
      class="ion-no-padding" 
    >
      <ion-img [src]="event.imgSrc"></ion-img>
    </ion-col>
    <ion-col size="9" class="ion-no-padding">
      <ion-grid class="max-height-width">
        <ion-row class="max-height-width">
          <ion-col 
            size="12" 
            class="ion-no-padding" 
          >
            <ion-text class="bold">
              {{ event.title }}
            </ion-text>
          </ion-col>
          <ion-col size="12" class="ion-no-padding">
            <ion-text class="mediumFont">
              {{ getFormatDate(event) }}
            </ion-text>
          </ion-col>
          <ion-col size="10" class="ion-align-self-end ion-no-padding">
            <ion-badge color="secondary">{{ event.type }}</ion-badge>
          </ion-col>
          <ion-col
            *ngIf="$.isSignIn" 
            size="2"
            class="ion-align-self-end ion-text-right bookmark-icon ion-no-padding"
          >
            <ion-icon 
              [name]="event.favorite ? 'bookmark' : 'bookmark-outline'"
              (click)="onFavoriteClick(event.eventId)"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>