<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="events">
        <ion-icon name="list-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="filter">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
