<ion-content>
  <app-auth-logo logoSrc="assets/icons/activation.svg"></app-auth-logo>
  <app-auth-info text="Введите код активации, чтобы продолжить работу."></app-auth-info>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <ion-label position="stacked" class="ion-padding-start">Код Активации</ion-label>
      <ion-item lines="none" class="rounded">
          <ion-input type="text" [formControl]="code"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <app-auth-button 
    text="Активировать" 
    type="button"
    [isDisabled]="code.invalid"
    (submit)="onSubmit()"
  ></app-auth-button>
</ion-content>
