.card-image {
  height: 40vh;
  width: 100vw;
}

.arrow-icon {
  padding: 5px 1rem 5px 5px;
}

ion-icon.link {
  color: var(--ion-color-secondary);
}

ion-item {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

ion-card-content {
  color: #000000;
}