<app-header></app-header>
<h1>Sign up component</h1>
<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <label>
      Username:
      <input type="text" formControlName="username">
    </label>
    <label>
      Username:
      <input type="text" formControlName="email">
    </label>
    <label>
      Password:
      <input type="text" formControlName="password">
    </label>
    <button type="submit" [disabled]="signUpForm.invalid">Submit</button>
  </form>
</ion-content>
