<ng-container *ngIf="{
  isLoading: isLoading$ | async,
  searchEvents: searchEvents$ | async,
  popularNowEvents: popularNowEvents$ | async,
  recommendedEvents: recommendedEvents$ | async,
  isSignIn: isSignIn$ | async
} as $">
  <ion-item lines="none" class="search ion-margin">
    <ion-input
      #searchInput
      type="text"
      placeholder="Поиск..."
      (input)="onSearchChange(searchInput.value.toString())"
    ></ion-input>
    <ion-icon name="search-outline" slot="start"></ion-icon>
  </ion-item>
  <ng-container *ngIf="searchInput.value.toString()">
    <ng-container *ngIf="$.searchEvents.length !== 0">
      <app-small-event-list 
        [events]="$.searchEvents"
        [isSignIn]="$.isSignIn"
        (favoriteClick)="onFavoriteClick($event)"
      >
      </app-small-event-list>
    </ng-container>
    <ng-container *ngIf="$.searchEvents.length === 0 && !$.isLoading">
      <ion-text class="ion-text-center">
        <p>По вашему запросу ничего не найдено</p>
      </ion-text>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!searchInput.value.toString()">
    <app-badge-list 
      title="Популярное сейчас:" 
      [badgeList]="$.popularNowEvents">
    </app-badge-list>
    <ng-container *ngIf="$.isSignIn">
      <app-badge-list 
        title="Рекомендовано вам:" 
        [badgeList]="$.recommendedEvents">
      </app-badge-list>
    </ng-container>
  </ng-container>
</ng-container>
