.card-image {
  height: 40vh;
  width: 100vw;
}

.favorite-icon {
  padding: 5px 1rem 5px 5px;
}

ion-icon.link {
  color: var(--ion-color-secondary);
}

ion-item {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

ion-card-content {
  color: #000000;
}

ion-badge {
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  --padding-bottom: 0.5rem;
  --padding-end: 0.5rem;
  --padding-start: 0.5rem;
  --padding-top: 0.5rem;
}